<div class='user-container'>
  <div class='user-detail'>
      <%= image_tag @user.photo %>
      <div class='user-detail-info'>
          <h2><%= @user.name %></h2>
          <p>Number of Posts: <span><%= @user.postsCounter %></span></p>
      </div>
  </div>
  <div class='user-info'>
      <p><%= @user.bio %></p>
     <div class='user-posts'>
         <h2>Posts</h2>
         <% @user.threeRecentPosts.each do |post| %>
             <div class='post'>
                 <h3><%= post.title %></h3>
                 <p><%= post.text %></p>
             </div>
         <% end %>
     </div>
     <button>See all posts</button>
</div>